<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Модуль з Крос-Платформи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-card-header>
          <ion-title size="large">Завдання</ion-title>
            <p>
              Побудувати ієрархію класів, яка буду включати, як мінімум, два інтерфейси,
              абстрактний клас та класи нащадки та написати крос-платформну програму для вирішення наступної задачі(використовувати фреймворк Ionic).
              Ієрархію класів побудувати з використанням принципу High Cohesion + Low Coupling та SOLID.  
              Предметне середовище: Країна, гірський масив, острів, республіка, озеро, море 
             </p>
      </ion-card-header>
      <ion-card-content>
        <p>Географічні об‘єкти<p>
        <ion-button (click)="ras()">вивести інформацію про географічні об'єкти</ion-button>
        <p *ngFor = "let g of g_ent">{{g.show()}}</p>
      </ion-card-content>
  </ion-card>
</ion-content>
